{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <script src="{% static 'scripts/currency_converter/parse.js' %}"></script>
    {% block head %}{% endblock %}
</head>
<body>
{% block body %}
    <form name="convertForm" action="" class="navbar-form navbar-left" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input name='amount' id="amount" type="hidden" value="">
            <input value="{{ query }}" name="query" id="query" type="text" class="form-control" placeholder="Input request">
        </div>
    </form>

    <button onclick="parse()" class="btn btn-default">Convert!</button>
    <br><br>

    <div id="alert" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Error when processing request. The request shall be a look like: <span class="example">20 usd to eur</span>.
    </div>

    {% if result %}
        <div class="alert alert-success" role="alert">
            <span class="sr-only"></span>
            <span class="example">{{ query }}{% if not query %}1{% endif %} = </span>{{ result }}
        </div>
    {% endif %}

    {% if error %}
        <div class="alert alert-success" role="alert">
            <span class="sr-only"></span>
            <span class="example"></span>{{ error }}
        </div>
    {% endif %}

{% endblock %}
</body>
</html>